
# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

.idea/*
## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/


# python compiled ones

*.pyc
src/*.pyc
