# User-specific stuff:
DjangoApp/.idea/workspace.xml
DjangoApp/.idea/tasks.xml
DjangoApp/.idea/dictionaries
DjangoApp/.idea/vcs.xml
DjangoApp/.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
DjangoApp/.idea/dataSources.ids
DjangoApp/.idea/dataSources.xml
DjangoApp/.idea/sqlDataSources.xml
DjangoApp/.idea/dynamic.xml
DjangoApp/.idea/uiDesigner.xml

# Gradle:
DjangoApp/.idea/gradle.xml
DjangoApp/.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/


# python compiled ones

*.pyc

DjangoApp/hackathon/settings.py
