{% block content %}
<!DOCTYPE html>
<html >
    <head>
        <style>
            @import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
            @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);


            body {
                background: url({{ STATIC_URL }}{{ piclink }}) center center fixed !important;
            }

            .slider {
                width: 400px;
                height: 50px;
            }
        </style>

        <meta charset="UTF-8">
        <title>Proxima</title>
        {% load staticfiles %}
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0-beta.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/questions.js"></script>
        <link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css'>
        <link rel='stylesheet' type='text/css' href={{ STATIC_URL }}css/questions.css>
    </head>


    <body>


    {% if message %} <p id='question'>{{message}}</p> {% endif %}
    {% if page_headers %} <div id="locheader"><h1>{{ page_headers.0 }}/{{ page_headers.1 }}</h1> </div>{% endif %}
    <div id="questioncontainer">

        {% if questions %}
            <form action="/questions" method="POST">
            {% for q in questions %}
               <div class='question'>
                    <div class='info'>
                        <div class='infotext'>{{ q.info }}</div>
                    </div>

                   <h2>{{ q.text }}</h2>
                   {% if q.type == 0 %}
                       {% for a in q.alt %} <input class="answer" type="radio" name="{{ q.id }}" value="{{ a }}"> {{ a }} <br> {% endfor %}
                   {% endif %}

                   {% if q.type == 1 %}
                       {% for a in q.alt %} <input class="answer" type="text" name="{{ q.id }}">&nbsp;{{ a }}<br> {% endfor %}
                   {% endif %}

                   {% if q.type == 2 %}
                        <select class="answer" name="{{ q.id }}"> {% for a in q.alt %} <option value="{{ a }}">"{{ a }}"</option> {% endfor %} </select>
                   {% endif %}

                   {% if q.type == 3 %}
                        <label for="number"></label>
                            <div class="slidercontainer">
                                <select class="answer number" name="{{ q.id }}" disabled="disabled">
                                    {% for i in q.range %} <option>{{ i }}</option> {% endfor %}
                                </select>
                                <div class='slider' style="left:50px;"></div>
                            </div>
                       <div style="position:absolute; left:20px; margin-top:5px;">{{ q.alt.0 }}</div>
                       <div style="position:absolute; right:40px; margin-top:5px;">{{ q.alt.1 }}</div>
                    {% endif %}

                   {% if q.type == 4 %}
                        {% for a in q.alt %} <input class="answer" type="checkbox" name={{ q.id }} value="{{ a }}"> {{ a }} <br> {% endfor %}
                   {% endif %}
               </div>
            {% endfor %}

        {% endif %}
        {% csrf_token %}
                <input type='submit' class='next' value='Next' />
            </form>
    </div>

    </body>
</html>
{% endblock %}